(
    chords: [
        (
            buttons: [
                Steam,
                LGrip,
            ],
            action: SwitchProfile(
                mode: SetMain,
            ),
        ),
        (
            buttons: [
                Steam,
                RGrip,
            ],
            action: SwitchProfile(
                mode: SetFallback,
            ),
        ),
        (
            buttons: [
                QuickAccess,
            ],
            action: SwitchProfile(
                mode: Toggle,
            ),
        ),
    ],
)