(
    led_brightness: None,
    idle_timeout: None,
    gordon: (
        duty: Scaled(
            min: 0,
            max: 100,
        ),
        hz: 60,
    ),
    neptune: (
        speed: Scaled(
            min: 0,
            max: 100,
        ),
        gain: Fixed(2),
    ),
    triton: (
        speed: Scaled(
            min: 0,
            max: 100,
        ),
        gain: Fixed(0),
    ),
)