(
    led_brightness: None,
    idle_timeout: None,
    gordon: (
        rumble_duty: Scaled(
            min: 0,
            max: 100,
        ),
        rumble_freq: 60,
        audio_duty: 50,
    ),
    neptune: (
        rumble_speed: Scaled(
            min: 0,
            max: 100,
        ),
        rumble_gain: Fixed(2),
        audio_gain: 2,
    ),
    triton: (
        rumble_speed: Scaled(
            min: 0,
            max: 100,
        ),
        rumble_gain: Fixed(0),
        audio_gain: 0,
    ),
)