(
    start_profile: Main,
    master_rumble: 100,
    led_brightness: None,
    idle_timeout: None,
    chords: [
        (
            buttons: [
                Steam,
                RGrip,
            ],
            action: SwitchProfile(
                mode: SetMain,
            ),
        ),
        (
            buttons: [
                QuickAccess,
                RGrip,
            ],
            action: SwitchProfile(
                mode: SetMain,
            ),
        ),
        (
            buttons: [
                Steam,
                LGrip,
            ],
            action: SwitchProfile(
                mode: SetFallback,
            ),
        ),
        (
            buttons: [
                QuickAccess,
                LGrip,
            ],
            action: SwitchProfile(
                mode: SetFallback,
            ),
        ),
    ],
)